@charset "utf-8";

aside {
  position: absolute;
  top: 70px;
  left: 10px;
  width: 200px;
  font-size: 18px;
  background-color: rgba(250,250,250,.7);
  border: 1px solid lightgray;
  border-radius: 5px;
}

#menu > li {
  margin: 20px;
  width: 150px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#menu  li  li {
  padding-left: 10px;
}

#menu a:hover {
  color: #66ccff;
}

#menu a.checked {
  color: #66ccff;
}

article {
  position: absolute;
  top: 70px;
  right: 10px;
  left: 225px;
  bottom: 50px;
  padding: 15px;
  display: none;
  overflow: auto;
  min-width: 710px;
  font-size: 15px;
  background-color: rgba(250,250,250,.7);
  border: 1px solid lightgray;
  border-radius: 5px;
}

article h2 {
  margin: 5px 0;
  font-size: 18px;
}

article li {
  list-style-type: disc;
  margin-left: 15px;
}

article pre {
  padding: 5px;
  border: 1px dotted #ccc;
  background-color: rgb(245,245,245);
}

article p {
  margin: 3px 0;
}
