@charset "utf-8";
body {
  margin:0;
  min-width: 955px;
  font-family: "Microsoft YaHei";
  font-size: 0;
}

header {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 8px;
}
      
header .logo {
  position: absolute;
  left: 3%;
  display: inline-block;
  font-size: 25px;
  color: dodgerblue;
}

header .logo img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
      
header .nav {
  position: absolute;
  right: 10%;
  display: inline-block;
}
      
header .nav ul {
  list-style-type: none;
  overflow: hidden;
}
      
header .nav ul li {
  display: inline-block;
  width: 110px;
  line-height: 50px;
  font-size: 15px;
  text-align: center;
}
      
header .nav li a {
  padding-bottom: 10px;
  color: black;
  text-decoration: none;
  transition: .5s;
}

header .nav li .checked {
  font-size: 16px;
  color: dodgerblue;
}
      
header .nav ul li a:hover {
  font-size: 16px;
  color: dodgerblue;
}

header:after {
  position: absolute;
  top: 55px;
  content: "";
  width: 100%;
  height: 3px;
  background: linear-gradient(to right,white,dodgerblue,white);
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 45px;
  font-size: 12px;
  color: white;
  background-color: #23262f;
}
      
footer div:first-child {
  margin: 14px 30px;
  float: left;
}
      
footer div:last-of-type {
  margin:  14px 30px;
  float: right;
}
      
footer div:last-of-type a {
  color: white;
  text-decoration: none;
}

